body {
    margin: 0;
    padding: 0;
    font-family: 'Grunge', sans-serif;
    background-color: #0c041d;
    background-size: cover;
    color: #fff;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    object-fit: cover;
    z-index: -1;
}


h2 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin: auto;
}

