<<<<<<< HEAD
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Grunge', sans-serif;
    background-color: #0c041d;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    overflow-x: hidden;
}

#video-mobile {
    display: none;
}

/* Appliquer aux deux vidéos */
#video-desktop,
#video-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

/* Affichage spécifique sur mobile */
@media screen and (max-width: 768px) {
    #video-desktop {
        display: none;
    }

    #video-mobile {
        display: block;
        width: 100vw;
        height: 100vh;
        object-fit: contain;
    }
}


=======
body {
    background: #636363;
}

main {
    margin-top: 200px;
}
h2 {
    color: #fff;
    font-size: 40px;
    text-align: center;
}
>>>>>>> 2fca341a50f4c42f33410b1d0aa0c44a74c8e042
